{% extends "base.html" %}
{% block title %}Variants{% endblock %}
{% set active_page = "variants" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Variants</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Gene</th>
      <th scope="col">Chrom</th>
      <th scope="col">Pos</th>
      <th scope="col">Ref Allele</th>
      <th scope="col">Alt Allele</th>
      <th scope="col">HGVSc</th>
      <th scope="col">HGVSp</th>
      <th scope="col">InSiGHT Class</th>
    </tr>
  </thead>
  <tbody>
  {% for variant in variants %}
      <tr>
          <td> {{ variant.gene }} </td>
          <td> {{ variant.chrom }} </td>
          <td> {{ variant.pos }} </td>
          <td> {{ variant.ref }} </td>
          <td> {{ variant.alt }} </td>
          <td> {{ variant.HGVSc }} </td>
          <td> {{ variant.HGVSp }} </td>
          <td> {{ variant.insight_class }} </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
