{% extends "base.html" %}
{% block title %}StruMMR{% endblock %}
{% set active_page = "home" %}
{% block content %}
{{ super () }}

<div class="jumbotron my-5">
    <div class="media">
        <img class="align-self-start" src="/static/images/strummr_logo_trans.svg" height="200" alt="StruMMR logo">
        <div class="media-body">
            <div class="container">
                <h1 class="display-1">StruMMR</h1>
                <p class="lead">
                    Structure and function effect predictions for missense variants in the human mismatch repair proteins
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
