{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "home" %}
{% block content %}
{{ super () }}

<div class="jumbotron my-5">
    <div class="media">
        <img class="align-self-start" src="/static/images/strummr_logo_trans.svg" height="200" alt="StruMMR logo">
        <div class="media-body">
            <div class="container">
                <h1 class="display-1">StruMMR</h1>
                <p class="lead">
                    Structure and function effect predictions for missense variants in the human mismatch repair proteins
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card border-secondary mb-3" style="max-width: 18rem;"> -->
<div class="card border-secondary mb-3">
  <div class="card-header">Features</div>
  <div class="card-body text-secondary">
      StruMMR considers <i>MSH2</i> and <i>MSH6</i> variants from the
      <a href="https://www.insight-database.org/">InSiGHT database</a>, and aggregates
      a diverse range of information, including:
      <ul>
          <li>Structure and function effect prediction for missense variants using the
              <a href="http://biosig.unimelb.edu.au/mcsm/">mCSM</a> suite of tools.
          <li>Interactive visualisation of variants
              within <a href="https://pfam.xfam.org/">Pfam domains</a> and within
              the <a href="https://www.rcsb.org/structure/2O8C">MutSα 3D crystal structure</a>.
          <li><i>In silico</i> pathogenicity predictions from <a href="https://cadd.gs.washington.edu/">CADD</a>,
              <a href="https://sites.google.com/site/revelgenomics/">REVEL</a>,
              <a href="http://genetics.bwh.harvard.edu/pph2/">PolyPhen-2</a>,
              <a href="https://sift.bii.a-star.edu.sg/">SIFT</a>, and
              <a href="http://provean.jcvi.org/index.php">PROVEAN</a>.
          <li>Key variant metadata including genomic and protein
              coordinates and population frequency from
              <a href="https://gnomad.broadinstitute.org/">gnomAD</a>.
          <li>New pathogenicity predictions using a machine-learning
              classifier trained on the features computed by the
              <a href="http://biosig.unimelb.edu.au/mcsm/">mCSM</a> suite of tools
              and the InSiGHT class annotations for missense variants.
          <li>Interactive plots comparing all variant annotation and metadata variables.
          <li>Visualisation of interatomic interactions for variant residues
              within the <a href="https://www.rcsb.org/structure/2O8C">MutSα 3D crystal structure</a>
              from the <a href="http://biosig.unimelb.edu.au/arpeggioweb/">Arpeggio</a> tool.
  </div>
</div>

{% endblock %}
