{% extends "base.html" %}
{% block title %}All Variants{% endblock %}
{% set active_page = "variants" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">All Variants</h1>

<table id="variants_table" class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Gene</th>
      <th scope="col">Chrom</th>
      <th scope="col">Pos</th>
      <th scope="col">Ref</th>
      <th scope="col">Alt</th>
      <th scope="col">HGVSc</th>
      <th scope="col">HGVSp</th>
      <th scope="col">Class</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody></tbody>
  <!--
  <tfoot>
      <tr>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
  </tfoot>
  -->
</table>

<script type="text/javascript" src="/static/js/variants.js"></script>

<script>
$(document).ready(function () {
  show_variants_table();
});
</script>

{% endblock %}
