{% extends "base.html" %}
{% block title %}All Variants{% endblock %}
{% set active_page = "variants" %}
{% block content %}
{{ super () }}

<div class="card my-5">
    <div class="card-header">
        <div class="float-right">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#variants_table_div" aria-expanded="true" aria-controls="#variants_table_div">
                Hide/Show
            </button>
        </div>
        <h5>All Variants</h5>
    </div>
    <div class="card-body">
        <div id="variants_table_div" class="collapse show">
            <table id="variants_table" class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Gene</th>
                        <th scope="col">Chrom</th>
                        <th scope="col">Pos</th>
                        <th scope="col">Ref</th>
                        <th scope="col">Alt</th>
                        <th scope="col">HGVSc</th>
                        <th scope="col">HGVSp</th>
                        <th scope="col">Class</th>
                        <th scope="col">Origin</th>
                        <th scope="col">Protein pos</th>
                        <th scope="col">Exon</th>
                        <th scope="col">Intron</th>
                        <th scope="col">GnomAD</th>
                        <th scope="col">Homozygotes</th>
                        <th scope="col">Consequence</th>
                        <th scope="col">Impact</th>
                        <th scope="col">CADD</th>
                        <th scope="col">Revel</th>
                        <th scope="col">mtr</th>
                        <th scope="col">mtr_genemean</th>
                        <th scope="col">mtr_genemedian</th>
                        <th scope="col">diff_mtr_gene_mean</th>
                        <th scope="col">diff_mtr_gene_median</th>
                        <th scope="col">diff_mtr_genome_mean</th>
                        <th scope="col">diff_mtr_genome_median</th>
                        <th scope="col">ratio_mtr_gene_mean</th>
                        <th scope="col">ratio_mtr_gene_median</th>
                        <th scope="col">ratio_mtr_genome_mean</th>
                        <th scope="col">ratio_mtr_genome_median</th>
                        <th scope="col">ToPRO</th>
                        <th scope="col">ToGLY</th>
                        <th scope="col">FromPRO</th>
                        <th scope="col">FromGLY</th>
                        <th scope="col">Phi</th>
                        <th scope="col">Psi</th>
                        <th scope="col">Omega</th>
                        <th scope="col">PositivePhiGLY</th>
                        <th scope="col">provean</th>
                        <th scope="col">provean_pred</th>
                        <th scope="col">sift</th>
                        <th scope="col">sift_pred</th>
                        <th scope="col">dist_lig</th>
                        <th scope="col">dist_na</th>
                        <th scope="col">dist_ppi</th>
                        <th scope="col">pph2</th>
                        <th scope="col">pph2_prediction</th>
                        <th scope="col">mcsm_na</th>
                        <th scope="col">mcsm_ppi</th>
                        <th scope="col">ddg_encom</th>
                        <th scope="col">dds_encom</th>
                        <th scope="col">ddg_duet</th>
                        <th scope="col">ddg_dynamut</th>
                        <th scope="col">ddg_mcsm</th>
                        <th scope="col">ddg_sdm</th>
                        <th scope="col">predicted</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="card my-5">
    <div class="card-header">
        <div class="float-right">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#population_freq_chart_div" aria-expanded="true" aria-controls="#population_freq_chart_div">
                Hide/Show
            </button>
        </div>
        <h5>Comparison of variant attributes in MSH2 and MSH6</h5>
    </div>
    <div class="card-body">
        <div id="population_freq_chart_div" class="collapse show">

            <div class="form-group">
                <label for="plot_x_axis">X axis</label>
                <select id="plot_x_axis" class="selectpicker">
                </select>

                <label for="plot_y_axis">Y axis</label>
                <select id="plot_y_axis" class="selectpicker">
                </select>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="log_x_axis">
                    <label class="form-check-label" for="log_x_axis">log X axis</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="log_y_axis">
                        <label class="form-check-label" for="log_y_axis">log Y axis</label>
                </div>
            </div>

            <div id="variant_attributes_plot"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/plot_variant_attributes.js"></script>
<script type="text/javascript" src="/static/js/variants.js?version=1.3"></script>

<script>
    $(document).ready(function() {
        main();
    });
</script>

{% endblock %}
