{% extends "base.html" %}
{% block title %}Variant Details{% endblock %}
{% block extra_css %}
<style>
    .pi-pi{
        background-color:#FF2A8E;
        color:white;
        font-size:inherit;
    }
    .vdw{
        background-color:#61DBDD;
        color:white;
        font-size:inherit;
    }
    .hbond{
        background-color:#FF0000;
        color:white;
        font-size:inherit;
    }
    .ionic{
        background-color:#FAFA30;
        font-size:inherit;
    }
    .aromatic{
        background-color:#90EE90;
        font-size:inherit;
    }
    .hydrophobic{
        background-color:#137B13;
        color:white;
        font-size:inherit;
    }
    .carbonyl{
        background-color:#334CFF;
        color:white;
        font-size:inherit;
    }
    .polar{
        background-color:#F58805;
        color:white;
        font-size:inherit;
    }
    .neutral,.stabilise,.increase,.benign{
        color:#1414C4;
    }
    .deleterious,.destabilise,.damaging,.decrease,.pathogenic,.disease-causing{
        color:#e53935;
    }
    .benign,.pathogenic{
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
{{ super () }}

{% if interactions %}
<div class="card my-5">
    <div class="card-header">
        <button class="btn btn-outline-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#interactive_viewer_div" aria-expanded="true" aria-controls="#lollipop_plot_div">
            Hide/Show
        </button>
        <h5>Interactive Viewer</h5>
    </div>
    <div class="card-body">
        <div id="interactive_viewer_div" class="collapse show">
        <div id="3DViewer" class="row" style="margin-bottom:15px;display:none;">
            <div class="col">
                <!-- <div class="card"> -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5>Interactions</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="PIints" name="PIints" data-component="buffer" checked><span class="badge pi-pi">PI-PI</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="vdw" name="vdw" data-component="vdw" checked><span class="badge vdw">VDW</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="hbond" name="hbond" data-component="hbond" checked><span class="badge hbond">Hbond</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="ionic" name="ionic" data-component="ionic" checked><span class="badge ionic">Ionic</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="aromatic" name="aromatic" data-component="aromatic" checked><span class="badge aromatic">Aromatic</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="hydrophobic" name="hydrophobic" data-component="hydrophobic" checked><span class="badge hydrophobic">Hydrophobic</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="carbonyl" name="carbonyl" data-component="carbonyl" checked><span class="badge carbonyl">Carbonyl</span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="polar" name="polar" data-component="polar" checked><span class="badge polar">Polar</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div id="spinner" class="fa fa-cog fa-spin fa-5x"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="border" id="protein_structure_viewport" style="height:650px;width:auto;text-align:center;overflow:hidden;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row" style="margin:10px auto;">
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button" id="reset_visualisation_button"><i class="fas fa-redo"></i> Reset</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button" id="spin_protein"><i class="fas fa-sync-alt"></i> Spin</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button" id="screenshot"><i class="fas fa-camera"></i> Screenshot</button>
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-secondary" id="download" href="{{ url_for('download_pymol_session',gene=variant.gene,position=variant.protein_position,_external=True) }}.pse"><i class="fas fa-download"></i> Download</a>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button" id="fullscreen"><i class="fas fa-expand"></i> Fullscreen</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="button" id="help" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp"><i class="fas fa-question-circle"></i>
                                        Help</button>
                                </div>
                            </div>
                            <div id="collapseHelp" class="row collapse">
                                <div class="col">
                                    <div class="alert alert-info" role="alert">
                                        <p><span class="badge badge-secondary">left-click + drag</span> Rotate</p>
                                        <p><span class="badge badge-secondary">right-click + drag</span> Translate</p>
                                        <p><span class="badge badge-secondary">mouse wheel</span> Zoom</p>
                                        <p><span class="badge badge-secondary">click on structure</span> Center on clicked region</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        </div>
    </div>
</div>
{% endif %}

<div class="card my-5">
    <div class="card-header">
        <button class="btn btn-outline-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#variant_metadata_div" aria-expanded="true" aria-controls="#lollipop_plot_div">
            Hide/Show
        </button>
        <h5>Variant information</h5>
    </div>
    <div class="card-body">
        <div id="variant_metadata_div" class="collapse show">
            <div class="row" style="margin-top:10px;">
                <div class="col">
                    <table id="variants_metadata" class="table">
                        <tbody>
                            <tr>
                                <th scope="col">Gene</th>
                                <td>{{ variant.gene }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Chromosome</th>
                                <td>{{ variant.chrom }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Exon</th>
                                <td>{{ variant.exon }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Position (hg19)</th>
                                <td>{{ variant.pos }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Reference Allele</th>
                                <td>{{ variant.ref }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Alternate Allele</th>
                                <td>{{ variant.alt }}</td>
                            </tr>
                            <tr>
                                <th scope="col">HGVSc</th>
                                <td>{{ variant.hgvsc }}</td>
                            </tr>
                            <tr>
                                <th scope="col">HGVSp</th>
                                <td>{{ variant.hgvsp }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table id="variants_metadata" class="table">
                        <tbody>
                            <tr>
                                <th scope="col">Genomic Change</th>
                                <td>{{ variant.genomic_dna_change }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Coding Sequence Position</th>
                                <td>{{ variant.cds_position }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Protein Position</th>
                                <td id="position">{{ variant.protein_position }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Consequence</th>
                                <td>{{ variant.consequence }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Impact</th>
                                <td>{{ variant.impact }}</td>
                            </tr>
                            <tr>
                                <th scope="col">gnomAD Population Frequency</th>
                                <td>{{ variant.gnomad_af }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Number of gnomAD homozygotes</th>
                                <td>{{ variant.num_homozygotes }}</td>
                            </tr>
                            <tr>
                                <th scope="col">InSiGHT Class</th>
                                <td>{{ variant.insight_class }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-5">
    <div class="card-header">
        <button class="btn btn-outline-primary btn-sm float-right" type="button" data-toggle="collapse" data-target="#variant_predictions_div" aria-expanded="true" aria-controls="#lollipop_plot_div">
            Hide/Show
        </button>
        <h5>Variant predictions</h5>
    </div>
    <div class="card-body">
        <div id="variant_predictions_div" class="collapse show">
            <div class="row" style="margin-top:10px;">
                <div class="col">
                    <table id="variants_predictions" class="table">
                        <tbody>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Affinity mCSM-NA</th>
                                {% if variant.mcsm_na %}
                                <td class="{% if variant.mcsm_na|float <= 0 %} decrease {% else %} increase {% endif %}">{{ '%0.2f' % variant.mcsm_na|float }} kcal.mol<sup>-1</sup> ({% if variant.mcsm_na|float <= 0 %}decrease{% else %}increase{% endif %} affinity)</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Affinity mCSM-PPI</th>
                                {% if variant.mcsm_ppi %}
                                <td class="{% if variant.mcsm_ppi|float <= 0 %} decrease {% else %} increase {% endif %}">{{ '%0.2f' % variant.mcsm_ppi|float }} kcal.mol<sup>-1</sup> ({% if variant.mcsm_ppi|float <= 0 %}decrease{% else %}increase{% endif %} affinity)</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Stability ENCoM</th>
                                {% if variant.ddg_encom %}
                                <td class="{% if variant.ddg_encom|float >= 0.5 %} stabilise {% else %} destabilise {% endif %}">{{ '%0.2f' % variant.ddg_encom|float }} kcal.mol<sup>-1</sup> ({% if variant.ddg_encom|float >= 0.5 %}stabilise{% else %}destabilise{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;S Vibrational Entropy ENCoM</th>
                                {% if variant.dds_encom %}
                                <td class="{% if variant.dds_encom|float >= 0 %} destabilise {% else %} stabilise {% endif %}">{{ '%0.2f' % variant.dds_encom|float }} kcal.mol<sup>-1</sup>.K<sup>-1</sup> ({% if variant.dds_encom|float >= 0 %}increase{% else %}decrease{% endif %} flexibility)</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Stability DUET</th>
                                {% if variant.ddg_duet %}
                                <td class="{% if variant.ddg_duet|float >= 0 %} stabilise {% else %} destabilise {% endif %}">{{ '%0.2f' % variant.ddg_duet|float }} kcal.mol<sup>-1</sup> ({% if variant.ddg_duet|float >= 0 %}stabilise{% else %}destabilise{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Stability DynaMut</th>
                                {% if variant.ddg_dynamut %}
                                <td class="{% if variant.ddg_dynamut|float >= 0 %} stabilise {% else %} destabilise {% endif %}">{{ '%0.2f' % variant.ddg_dynamut|float }} kcal.mol<sup>-1</sup> ({% if variant.ddg_dynamut|float >= 0 %}stabilise{% else %}destabilise{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Stability mCSM</th>
                                {% if variant.ddg_mcsm %}
                                <td class="{% if variant.ddg_mcsm|float >= 0 %} stabilise {% else %} destabilise {% endif %}">{{ '%0.2f' % variant.ddg_mcsm|float }} kcal.mol<sup>-1</sup> ({% if variant.ddg_mcsm|float >= 0 %}stabilise{% else %}destabilise{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">&Delta;&Delta;G Stability SDM</th>
                                {% if variant.ddg_sdm %}
                                <td class="{% if variant.ddg_sdm|float >= 0 %} stabilise {% else %} destabilise {% endif %}">{{ '%0.2f' % variant.ddg_sdm|float }} kcal.mol<sup>-1</sup> ({% if variant.ddg_sdm|float >= 0 %}stabilise{% else %}destabilise{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Conservation Score REVEL</th>
                                {% if variant.revel_score %}
                                <td class="{% if variant.revel_score|float >= 0.45 %} disease-causing {% else %} neutral {% endif %}">{{ '%0.2f' % variant.revel_score|float }} ({% if variant.revel_score|float >= 0.45 %}disease causing{% else %}neutral{% endif %})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Conservation Score Provean</th>
                                {% if variant.provean %}
                                <td class="{{ variant.provean_pred|lower }}">{{ '%0.2f' % variant.provean|float }} ({{ variant.provean_pred|lower }})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table id="variants_predictions" class="table">
                        <tbody>
                            <tr>
                                <th scope="col">Tolerance Score SIFT</th>
                                {% if variant.sift %}
                                <td class="{{ variant.sift_pred|lower }}">{{ '%0.2f' % variant.sift|float }} ({{ variant.sift_pred|lower }})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Damaging Score PolyPhen2</th>
                                {% if variant.pph2 %}
                                <td class="{{ variant.pph2_prediction|lower }}">{{ '%0.2f' % variant.pph2|float }} ({{ variant.pph2_prediction }})</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Missense Tolerance Ratio</th>
                                {% if variant.mtr %}
                                <td>{{ '%0.2f' % variant.mtr|float }}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Phi angle</th>
                                {% if variant.Phi %}
                                <td>{{ '%0.2f' % variant.Phi|float }}&deg;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Psi angle</th>
                                {% if variant.Psi %}
                                <td>{{ '%0.2f' % variant.Psi|float }}&deg;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Omega angle</th>
                                {% if variant.Omega %}
                                <td>{{ '%0.2f' % variant.Omega|float }}&deg;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Distance to Ligand</th>
                                {% if variant.dist_lig %}
                                <td>{{ '%0.2f' % variant.dist_lig|float }} &#8491;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Distance to NA</th>
                                {% if variant.dist_na %}
                                <td>{{ '%0.2f' % variant.dist_na|float }} &#8491;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Distance to PPI Interface</th>
                                {% if variant.dist_ppi %}
                                <td>{{ '%0.2f' % variant.dist_ppi|float }} &#8491;</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">StruMMR Prediction Outcome</th>
                                {% if variant.predicted %}
                                <td class="{{ variant.predicted|lower }}">{{ variant.predicted|capitalize }}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-5">
    <div class="card-header">
        <div class="float-right">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#variant_attribute_distribution_div" aria-expanded="true" aria-controls="#population_freq_chart_div">
                Hide/Show
            </button>
        </div>
        <h5>Variant attribute distribution</h5>
    </div>
    <div class="card-body">
        <div id="variant_attribute_distribution_div" class="collapse show">

            <div class="form-group">
                <label for="plot_x_axis">Attribute</label>
                <!-- <select id="plot_x_axis" class="selectpicker"> -->
                <select id="plot_x_axis" class="selectpicker">
                    <option value="gene">Gene</option>
                    <option selected="selected" value="insight_class"i>InSiGHT Class</option>
                    <option value="consequence">Consequence</option>
                    <option value="impact">Impact</option>
                    <option value="exon">Exon</option>
                    <option value="intron">Intron</option>
                    <option value="cds_position">CDNA position</option>
                    <option value="cds_position">CDS position</option>
                    <option value="protein_position">Protein position</option>
                    <option value="revel_score">Conservation Score REVEL</option>
                    <option value="gnomad_af">gnomAD Population Frequency</option>
                    <option value="num_homozygotes">Number of gnomAD homozygotes</option>
                    <option value="mtr">Missense Tolerance Ratio</option>
                    <option value="provean">Conservation Score Provean</option>
                    <option value="sift">Conservation Score SIFT</option>
                    <option value="dist_lig">Distance to Ligand</option>
                    <option value="dist_na">Distance to NA</option>
                    <option value="dist_ppi">Distance to PPI Interface</option>
                    <option value="pph2">Damaging Score PolyPhen2</option>
                    <option value="mcsm_na">&Delta;&Delta;G Affinity mCSM-NA</option>
                    <option value="mcsm_ppi">&Delta;&Delta;G Affinity mCSM-PPI</option>
                    <option value="ddg_encom">&Delta;&Delta;G Stability ENCoM</option>
                    <option value="dds_encom">&Delta;&Delta;S Vibrational Entropy ENCoM</option>
                    <option value="ddg_duet">&Delta;&Delta;G Stability DUET</option>
                    <option value="ddg_dynamut">&Delta;&Delta;G Stability DynaMut</option>
                    <option value="ddg_mcsm">&Delta;&Delta;G Stability mCSM</option>
                    <option value="ddg_sdm">&Delta;&Delta;G Stability SDM</option>
                    <option value="predicted">StruMMR Prediction Outcome</option>
                </select>
            </div>

            <div id="variant_attributes_plot"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/plot_variant_attributes.js"></script>
<script type="text/javascript" src="/static/js/variant.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        main("{{ variant.gene }}", {{ variant | tojson }}, {{ interactions | safe }}, {{ pi_interactions | safe }}, {{ pi_interactions_residues | safe }})
    });
</script>
{% endblock %}
